<div *ngIf="qts" class="qts-detail-container">
    <h1>Detalhes do QTS</h1>
    <h2>{{ qts.course.nomeCurso }}</h2>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Horário</th>
            <th *ngFor="let day of daysOfWeek">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of uniqueSchedules">
            <td>{{ schedule.descricao }}</td>
            <td *ngFor="let day of daysOfWeek">
              <div *ngFor="let qtsSchedule of getQtsScheduleForDayAndTime(day, schedule)">
                {{ qtsSchedule.discipline.description }} - {{ qtsSchedule.professor.nome_professor }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="button-container">
      <button (click)="printQts()" class="print-button">Imprimir QTS</button>
      <button (click)="deleteQts()" class="delete-button">Deletar QTS</button>
      <button (click)="goBack()" class="back-button">Voltar</button>
    </div>
  </div>
  