<div class="home-container">
  <div class="banner">
    <h1>Bem-vindo ao QTS Manager</h1>
  </div>
  <div class="description">
    <p>Gerencie disciplinas, professores e cursos de forma eficiente.</p>
  </div>
  <div class="button-container">
    <div (click)="navigateTo('/disciplinas')" class="nav-button">Disciplinas</div>
    <div (click)="navigateTo('/professores')" class="nav-button">Professores</div>
    <div (click)="navigateTo('/cursos')" class="nav-button">Turmas</div>
    <div (click)="navigateTo('/days-of-week')" class="nav-button">Dias da Semana</div>
    <div (click)="navigateTo('/schedules')" class="nav-button">Horários de Aula</div>
    <div (click)="navigateTo('/gerar-qts')" class="nav-button">Gerar QTS</div>
  </div>
</div>
